/* UserManagement.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .user-management {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border: 5px solid lightblue;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff37;
    color: black;
    padding: 10px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .search-bar {
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    color: white;
    font-size: 40px;
  }
  
  .sidebar {
    width: 20%;
    height: 400px;
    text-align: left;
    margin-left: 57px;
    margin-top: 50px;
    padding: 20px;
    background: #111;
    font-size: 18px;
    font-weight: bold;
  }

  .sidebar li {
    color: white;
  }
  
  .user-list {
    margin-left: 500px;
    width: 45%;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid gray;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .user-icon {
    margin-right: 10px;
  }
  
  .user-name {
    flex: 1;
    text-align: left;
  }
  
  .role {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
  
  .users {
    background: green;
  }
  
  .chef {
    background: #FFD700;
    color: black;
  }
  
  .footer {
    background: #222;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
    width: 100%;
  }